.DS_Store
build/*
dist/*
backend/config/config.json
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.idea
yarn.lock
.yarn-error.log
yarn-error.log
.package-lock.json
.npmrc
.vscode/
