@import "ol/ol.css";

html,
body {
    margin: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
}

#popup-content {
    color: black;
    -webkit-text-fill-color: aquamarine;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.popup-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: cornflowerblue;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.popup-header {
    font-size: 2em;
    font-weight: bold;

    background: white;
    padding: 16px;
}

.popup-image {

}

.popup-description {
    font-size: 1.2em;
    font-weight: normal;

    background: white;
    padding: 16px;

    max-width: 300px;
    word-wrap: normal;
    word-break: break-word;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    transition: transform 250ms;
}

.popup-close:after {
    content: "✖";
}

.popup-close:hover {
    transform: rotate(15deg);
    transform: scale(1.3);
}

