@import "ol/ol.css";

html,
body {
    margin: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
}

#popup-content {
    color: black;
    -webkit-text-fill-color: aquamarine;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


    font-size: 2em;
    font-weight: bold;

    background: white;
    padding: 16px;
}