body {
    background: grey;
    margin: 0;
}

#app{
    max-width: 1200px;
    margin: 0 auto;
    height: 60vh;
}

#springs-list{
    height: calc(100vh - 300px);
    overflow-y: scroll;
    position: relative;
}

#springs-list tr td {
    min-width: 28px;
}

.delete-x:hover {
    cursor: pointer;
}

.delete-x {
    color: darkred;
    font-weight: bold;
}

.content {
    background: grey;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.login-block {
    position: relative;
    top: calc((60vh - 120px)/2);
    margin: 0 auto;
    width: 540px;
}

#login-form {
    background: white;
    height: 100%;
    padding: 48px;
    border-radius: 8px;
    border: 1px solid #00AAFF;
}

#add-form {
    background: white;
    height: 100%;
    padding: 48px;
    border-radius: 8px;
    border: 1px solid #00AAFF;
}

.icon-edit {
    background: url("../static/img/edit.svg");
    height: 24px;
    width: 24px;
    display: block;
}

.icon-edit:hover {
    background: url("../static/img/edit-orange.svg");
}

#modal-bg {
    display: none;
    top: 0;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
}

#modal-delete {
    position: absolute;
    left: calc( 50vh - 240px );
    top: calc( 50vh - 180px );
    z-index: 10;
    width: 480px;
    height: 360px;

    padding: 20px;
    background: #CCCCCC;
    border: 2px solid darkred;
    border-radius: 6px;
}

.modal-delete__text{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.modal-delete__buttons {
    position: absolute;
    bottom: 30px;
}

.editor{
    display: flex;
    flex-direction: row;
}

#choosed-image {
    max-width: 400px;
    max-height: 300px;
}